# https://console.neon.tech/app/projects/
DATABASE_URL="postgresql://neondb_owner:n..."

# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="your_secret_key"
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app